<h1>Step 1: Choose your Model and color</h1>

<div class="filters">
  <!-- Model filter -->
  <mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select (selectionChange)="selectModel()" [(ngModel)]="filter_model" id="modelSelect">
      @for (model of models; track model) {
        <mat-option value="{{ model.code }}">
          {{ model.description }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Color filter -->
  <mat-form-field>
    <mat-label>Color</mat-label>
    <mat-select (openedChange)="selectColor()" [(ngModel)]="filter_color" id="colorSelect">
      @for (color of colors; track color) {
        <mat-option value="{{ color.code }}">
          {{ color.description }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
