body {
  background-color: #000 !important;
}

.container {
  width: 900px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;

  button {
    flex: 1;
  }
}

h1 {
  margin-bottom: 25px;
}
